{% extends "base.html" %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
  <script src="{{ url_for('static', filename='js/login.js')}}" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="login-content" id="loginContent">
  <h2>Advent Calendar</h2>
  <input type="text" class="form-control" placeholder="ログインID" data-bind="value: loginId">
  <input type="password" class="form-control" placeholder="パスワード" data-bind="value: password">
  <a href="#">アカウント新規作成</a>
  <button type="button" class="btn btn-primary" data-bind="click: onClickLogin">ログイン</button>
</div>
{% endblock %}
